
.endereco-cabecalho
  display flex
  justify-content space-between

.box-endereco
  display grid
  grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
  grid-gap 25px

.endereco
  padding 1em
  background-color #fff
  & .nome
    font-size 25px
  & .acoes
    display flex
    justify-content space-between

