@import '../../../../../../stylus/cores'

main, .enderecos
  background-color luz

main
  min-height calc(100vh + -50px)

.box
  border-radius 0

.container-usuario
  background-image url('/assets/imagens/fundo-perfil.jpg')
  background-size cover
  background-repeat no-repeat
  .status
    display table
    color #fff
    box-shadow 2px 2px 15px 1px rgba(0, 0, 0, 0.9)
    padding 3px 15px
    border-radius 9px
  .ativo
    background-color marca5
  .desativado
    background-color marca3
  .cabecalho, .rodape, .box-corpo
    display flex
    justify-content space-between
    align-items end
    flex-wrap wrap
  .rodape
    margin-top 15px
    padding 16px
    border-radius 9px
  & > div
    font-weight 500
  .mb-16
    margin-bottom 16px
  .email
    word-break: break-all

.enderecos
  padding 1em
  border-top-left-radius 25px
  border-top-right-radius 25px
  margin-top -25px

