<div>{{ usuario?.name }}</div>
<button (click)="abrirModal()">Alterar</button>
<button (click)="removerAlert()">Remover</button>

<ng-container *ngIf="usuario">
  <app-lista-endereco [enderecos]="usuario.address" [idUsuario]="usuario.id">
  </app-lista-endereco>
  <app-lista-celular [celulares]="usuario.cellphone"></app-lista-celular>
</ng-container>

<app-modal *ngIf="mostrarModal">
  <button (click)="fecharModal()" class="btn-fechar">x</button>
  <app-form-usuario
    (fecharModal)="fecharModal($event)"
    [usuario]="usuario"
  ></app-form-usuario>
</app-modal>
