@import '../../../../../../stylus/cores'

.box-endereco
  display grid
  grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
  grid-gap 25px

.endereco-cabecalho
  display flex
  justify-content space-between
