@import '../../../../../../../stylus/cores'

.box-celular
  display flex
  align-items center
  a
    padding 3px 10px
    color #fff
    border-radius 25px
    background-color marca2
    margin-left 3px
    font-weight 500
.descricao
  font-size 10px
  font-weight bold
.botao-editar, .botao-remover
  border none
  margin 0 3px
.botao-editar
  background-color #3498db
.botao-remover
  background-color #e74c3c
