<div class="cabecalho">
  <h3 *ngIf="celulares?.length">
    {{ celulares?.length == 1 ? "Contato" : "Contatos" }}
  </h3>
  <button (click)="abrirModal()">Cadastrar celular</button>
</div>
<app-detalhe-celular
  *ngFor="let celular of celulares"
  [celular]="celular"
  (idCelular)="removerItem($event)"
></app-detalhe-celular>

<app-modal *ngIf="mostrarModal">
  <button (click)="fecharModal()" class="btn-fechar">x</button>
  <app-form-celular
    (fecharModal)="fecharModal($event)"
    [idUsuario]="idUsuario"
  ></app-form-celular>
</app-modal>
