@import '../../../../../../../stylus/cores'

.box-endereco
  display grid
  grid-template-columns repeat(auto-fit, minmax(280px, 1fr))
  grid-gap 25px

.cabecalho
  display flex
  justify-content space-between
  margin 25px 0
  padding 0 25px
