<div class="cabecalho">
  <h3 *ngIf="enderecos?.length">
    {{ enderecos?.length == 1 ? "Endereço" : "Endereços" }}
  </h3>
  <h2 *ngIf="!enderecos?.length">Nenhum endereço cadastrado</h2>
  <button
    title="Cadastrar endereço"
    class="outline-primary"
    (click)="abrirModal()"
  >
    Cadastrar endereço
  </button>
</div>

<div class="box-endereco">
  <app-detalhe-endereco
    *ngFor="let endereco of enderecos"
    [endereco]="endereco"
    (idEndereco)="removerItem($event)"
  ></app-detalhe-endereco>
</div>

<app-modal *ngIf="mostrarModal">
  <button (click)="fecharModal()" class="btn-fechar">x</button>
  <app-form-endereco
    (fecharModal)="fecharModal($event)"
    [idUsuario]="idUsuario"
  ></app-form-endereco>
</app-modal>
