<div class="endereco-cabecalho">
  <h2>Endereço(s)</h2>
  <button (click)="abrirModal()">Cadastrar</button>
</div>
<div class="box-endereco">
  <app-detalhe-endereco
    *ngFor="let endereco of enderecos"
    [endereco]="endereco"
    (idEndereco)="removerItem($event)"
  ></app-detalhe-endereco>
</div>

<app-modal *ngIf="mostrarModal">
  <button (click)="fecharModal()" class="btn-fechar">x</button>
  <app-form-endereco
    (fecharModal)="fecharModal($event)"
    [idUsuario]="idUsuario"
  ></app-form-endereco>
</app-modal>
