button
  background-color marca1
  padding 5px 10px
  border-radius 12px
  outline none
  border 2px solid marca1
  font-size 14px
  font-weight 800
  color luz
  transition border 1s
  cursor pointer
  font-family 'Poppins', sans-serif
  &:disabled
    opacity .4
    cursor not-allowed
    color #fff
    transition border 1s
  &.outline-success
    background-color transparent
    border 2px solid marca5
    color marca5
  &.outline-danger
    background-color transparent
    border 2px solid marca3
    color marca3
  &.outline-primary
    background-color transparent
    border 2px solid marca1
    color marca1
