.overflow-x
  overflow-x auto

.box
  padding 35px 15px
  border-radius 9px
  box-shadow 2px 2px 15px 1px rgba(0, 0, 0, 0.5)
  background-color #fff

.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right
