input[type='email'], input[type='text'],
input[type='password'], input[type='number'],
input[type='search']
  max-width 100%
  background-color #fff
  padding 5px 10px
  border-radius 12px
  outline none
  border 2px solid marca1
  font-size 14px
  color marca2
  font-weight 500
  transition border 1s
  font-family 'Poppins', sans-serif
  &::placeholder
    color marca5
    font-weight 500
  &:focus
    color marca1
    border 2px solid marca5
    transition border 1s
  &:disabled
    background-color transparent
    cursor not-allowed
    color marca1
    transition border 1s
