.swal2-confirm.swal2-styled, .swal2-deny.swal2-styled, .swal2-popup, .swal2-cancel.swal2-styled
  border-radius 12px!important
  border none!important

.swal2-confirm.swal2-styled
  background-color marca5!important

.swal2-deny.swal2-styled
  background-color marca3!important

.swal2-cancel.swal2-styled
  background-color marca3!important

