@import '../../../../stylus/cores'

.container, .box-login
  display grid
  place-content center

.container
  height 100vh
  background-image linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('/assets/imagens/fundo.jpg')
  background-size cover

.box-login
  width 390px
  max-width 90vw
  padding 15px
  margin 0 10px
  height 382px
  background-color rgba(0,0,0, .7)
  border-radius 25px
  box-shadow 7px 10px 13px 0px rgba(0,0,0,0.38)
  & form
    display flex
    flex-direction column
    align-items center
    & > div
      margin-bottom 15px
      display flex
      flex-direction column
      input
        padding 10px
        width 100%
        background-color transparent
        color #fff
        border 2px solid marca2
        &:focus
          border 2px solid marca3
