@import '../../stylus/cores'

.container
  height 100vh
  max-height 100%
  display grid
  background-color marca1
  grid-template-rows 50px 1fr
  grid-template-areas "menu-topo" "root"


.menu-topo
  background-color marca3
  color #fff
  grid-area menu-topo
  display flex
  justify-content space-between
  align-items center
  padding 0 16px
  .inicio
    cursor pointer

.root
  background-color luz
  grid-area root
  //border-top-left-radius 15px
  //padding 25px
  overflow-y auto

.notifications
  background-color lightsalmon
  text-align center

@media only screen and (max-width 767px)
  .container
    grid-template-rows 50px auto 1fr
    grid-template-areas "menu-topo" "root"
