.box-endereco
  display flex
  flex-direction column
  padding 1em
  background-color #fff
  word-break break-word
  & > div
    margin-bottom 10px
    & span
      font-weight 500
  & .nome
    font-size 25px
  .linkMapa
    border-radius 9px
    padding 5px 10px
    text-decoration none
    color #fff
    font-weight 500
    background-color #30336b
    word-break break-word
    font-size 10px
    margin 0 auto
  & .acoes
    display flex
    justify-content space-between
