<div class="box-endereco">
  <div class="nome">{{ endereco?.name }}</div>
  <div *ngIf="endereco.cep">CEP: {{ endereco?.cep }}</div>
  <div *ngIf="endereco.neighborhood">Bairro: {{ endereco?.neighborhood }}</div>
  <div *ngIf="endereco.publicPlace">Endereço: {{ endereco?.publicPlace }}</div>
  <div *ngIf="endereco.details">Detalhes: {{ endereco?.details }}</div>
  <div *ngIf="endereco.location">Localização: {{ endereco?.location }}</div>

  <div class="acoes">
    <button (click)="abrirModal()">Editar</button>
    <app-button
      [loading]="loading"
      [label]="'Remover'"
      (click)="removerAlert()"
    ></app-button>
  </div>
</div>
<app-modal *ngIf="mostrarModal">
  <button (click)="fecharModal()" class="btn-fechar">x</button>
  <app-form-endereco
    [endereco]="endereco"
    (fecharModal)="fecharModal($event)"
  ></app-form-endereco>
</app-modal>
