<div class="box-endereco">
  <div class="nome">{{ endereco?.name }}</div>
  <div *ngIf="endereco.cep"><span>CEP: </span>{{ endereco?.cep }}</div>
  <div *ngIf="endereco.neighborhood">
    <span>Bairro: </span>{{ endereco?.neighborhood }}
  </div>
  <div *ngIf="endereco.publicPlace">
    <span>Endereço: </span>{{ endereco?.publicPlace }}
  </div>
  <div *ngIf="endereco.details">
    <span>Detalhes: </span>{{ endereco?.details }}
  </div>
  <div *ngIf="endereco.location">
    <a
      class="linkMapa"
      [href]="endereco?.location"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fas fa-map-marker-alt"></i>
      <span> Abrir no Google Maps</span>
    </a>
  </div>

  <div class="acoes">
    <button class="outline-primary" (click)="abrirModal()">Editar</button>
    <button class="outline-danger" (click)="removerAlert()">Remover</button>
  </div>
</div>
<app-modal *ngIf="mostrarModal">
  <button (click)="fecharModal()" class="btn-fechar">x</button>
  <app-form-endereco
    [endereco]="endereco"
    (fecharModal)="fecharModal($event)"
  ></app-form-endereco>
</app-modal>
