<form (ngSubmit)="orquestarAcao()" [formGroup]="formUsuario">
  <div>
    <input formControlName="name" type="text" placeholder="Nome" />
    <small appMensagensErrosForms [control]="formUsuario.get('name')"></small>
  </div>
  <div>
    <input
      formControlName="cpf"
      type="text"
      mask="000.000.000-00"
      placeholder="CPF, opcional"
    />
    <small appMensagensErrosForms [control]="formUsuario.get('cpf')"></small>
  </div>
  <div>
    <input
      formControlName="email"
      type="email"
      placeholder="E-mail, opcional"
    />
    <small appMensagensErrosForms [control]="formUsuario.get('email')"></small>
  </div>
  <div>
    <input
      formControlName="password"
      type="password"
      placeholder="Senha, opcional"
    />
    <small
      appMensagensErrosForms
      [control]="formUsuario.get('password')"
    ></small>
  </div>

  <app-button
    [invalido]="formUsuario.invalid"
    [label]="usuario ? 'Alterar' : 'Finalizar cadastro'"
    [loading]="loading"
  ></app-button>
</form>
