@import '../../../../../../stylus/cores'

.box-header
  position sticky
  top 0px
  background-color luz
  z-index 1

.box
  display flex
  justify-content space-between
  flex-wrap wrap
  margin 16px
  input
    min-width 160px
    max-width 60%
  input, button
    margin 5px 0
.conteudo
  padding 1em
